In [77]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import flask as flask
import requests 
import os

In [ ]:
### NASA Mars News
#Retreive the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [8]:
url="https://mars.nasa.gov/news/"

In [9]:
pull = requests.get(url)
d_pull = bs(pull.text, 'html.parser')

In [17]:
news_title = d_pull.find("title").text
print (news_title)

News  – NASA’s Mars Exploration Program

In [19]:
news_par = d_pull.find("p").text
print (news_par)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [ ]:

### JPL Mars Space Images - Featured Image

#Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).
#
#* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

#* Make sure to find the image url to the full size `.jpg` image.

#* Make sure to save a complete url string for this image.

In [74]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist



executable_path = ("\web-scraping-challenge\chromedriver.exe")
browser = Browser("chrome", **\web-scraping-challenge\chromedriver.exe, headless=False)

SyntaxError: unexpected character after line continuation character (<ipython-input-74-74a1964898c4>, line 7)

In [70]:



url ="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

  
    ##featured_img = soup.find("article", class_="carousel_container").get_text()
featured_img = soup.find('article', class_='carousel_container')
# image_url = featured_img.find('a')['href']
image_url = featured_img.find_all("href")

image_list = [] 
url_path = []
url_data = []


for img in image_url:
    data = img.text.strip()
    image_list.append(data)
    url_path = img.find("a")["href"]
    url_data.append(url_path)
    
url_path = ["https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/" + url for url in url_data]    
image_link =zip(image_list, url_path)

try:
    for link in image_link:
        browser.click_link_by_partial_text ('next')
except ElementDoesNotExist:
    print("Scraping Complete")
  
    # print(image_url)
   # browser.quit()

SyntaxError: unexpected character after line continuation character (<ipython-input-70-4e2be9c38628>, line 7)

In [ ]:
### Mars Weather

# Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.

In [98]:

url ="https://twitter.com/marswxreport?lang=en"

w_pull = requests.get(url)
tweet = bs(w_pull.text, 'html.parser')


mars_1 = tweet.find("strong", class_ = 'fullname show-popup-with-id u-textTruncate').text

mars_2 = tweet.find("div", class_="js-tweet-text-container").text
mars_weather = (mars_1, mars_2)
print (mars_weather)

('Mars Weather', '\nInSight sol 317 (2019-10-18) low -103.2ºC (-153.8ºF) high -26.2ºC (-15.2ºF)\nwinds from the SSE at 5.6 m/s (12.5 mph) gusting to 22.2 m/s (49.7 mph)\npressure at 7.10 hPapic.twitter.com/LNDEvGwVDw\n')

In [ ]:

### Mars Facts

# Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

# Use Pandas to convert the data to a HTML table string.

In [101]:

url ="https://space-facts.com/mars/"

d_table = pd.read_html(url)

d_table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [105]:
df = d_table[0]
df.columns = ['Mars-Earth Comparison', "Mars", "Earth"]

df.head()

  Mars-Earth Comparison             Mars            Earth
0             Diameter:         6,779 km        12,742 km
1                 Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                Moons:                2                1
3    Distance from Sun:   227,943,824 km   149,598,262 km
4       Length of Year:   687 Earth days      365.24 days

In [106]:
df.set_index('Mars-Earth Comparison', inplace=True)
df.head()

                                  Mars            Earth
Mars-Earth Comparison
Diameter:                     6,779 km        12,742 km
Mass:                  6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                               2                1
Distance from Sun:      227,943,824 km   149,598,262 km
Length of Year:         687 Earth days      365.24 days

In [110]:
df.to_html('M-E_Comparison.html')

In [121]:

### Mars Hemispheres

# Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.

# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [122]:

url ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

h_pull = requests.get(url)
parts = bs(h_pull.text, 'html.parser')


mars_h = parts.find("div", class_ = "content")
                    
mars_img = parts.find("li", target="_blank")
print(mars_h, mars_img)

None None

In [123]:


image_list = [] 
url_path = []
url_data = []


for m in mars_img:
    data = img.text.strip()
    image_list.append(data)
    url_path = img.find("a")["href"]
    url_data.append(url_path)
    
url_path = ["https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars" + url for url in url_data]    
image_link =zip(image_list, url_path)
image_link

TypeError: 'NoneType' object is not iterable

In [ ]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
# Define database and collection
db = client.scrape_mars_db
scrapes = db.items